[monitoring]
monitoring-server ansible_host=1.2.3.4

[monitoring:vars]
grafana_admin_user=admin
grafana_admin_password=super_secret_password_123

[clients]
client-server ansible_host=1.2.3.5

[all:vars]
ansible_python_interpreter=/usr/bin/python3