name: CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:
  terraform-lint:
    name: Terraform Validate & Format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.4.6

    - name: Terraform Format Check
      run: terraform fmt -check
      working-directory: ./terraform

    - name: Terraform Init
      run: terraform init -backend=false
      working-directory: ./terraform
      env:
        # Моки для проверки, чтобы не падал на отсутствие реальных кредов
        YC_TOKEN: "test_token"
        YC_CLOUD_ID: "test_cloud"
        YC_FOLDER_ID: "test_folder"

    - name: Terraform Validate
      run: terraform validate
      working-directory: ./terraform

  ansible-lint:
    name: Ansible Lint & Syntax Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Ansible and Linter
      run: |
        pip install ansible ansible-lint yamllint

    - name: Ansible Playbook Syntax Check
      run: ansible-playbook --syntax-check ansible/playbook.yml -i ansible/inventory.ini.example

    - name: Ansible Playbook Syntax Check
      run: ansible-playbook --syntax-check ansible/playbook.yml